@model TodoList.ViewModels.FormTodoViewModel

@{
    ViewData["Title"] = "Cadastrar Tarefas";
}

<div class="row">
    <div class="col text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<form method="post" asp-action="Create">
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Título</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Date" class="form-label">Data</label>
        <input asp-for="Date" type="date" class="form-control" id="dateField" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); // Janeiro é 0!
            var yyyy = today.getFullYear();

            today = yyyy + '-' + mm + '-' + dd;
            document.getElementById('dateField').value = today;
        });
    </script>
}